<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0cOgVdXPbabnqnX2owMG4O2hJnKcdmao</string>
	<key>GCM_SENDER_ID</key>
	<string>1063390943216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthinfoFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>doctor-appointment-74823</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-appointment-74823.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063390943216:ios:0a9a4a62e1ed52f5916f35</string>
</dict>
</plist>